---
layout: rss
title: RSS
permalink: /feed.rss
---

<title>CircuitPython.org Boards</title>
<link>{{ "/" | absolute_url }}</link>
<description>A list of CircuitPython and Blinka supported boards</description>
<lastBuildDate>{{ "now" | date_to_rfc822 }}</lastBuildDate>
{% assign all_boards = site.board | concat: site.blinka | sort: "date_added" | reverse %}
{% for board in all_boards %}
  {%- if board.downloads_display == false -%}
    {%- continue -%}
  {%- endif -%}
  {%- if board.board_id != 'unknown' -%}
  <item>
    <title>{{ board.name }}</title>
    <link>{{ board.url | absolute_url }}</link>
    <description><![CDATA[ {% include downloads/board_image.html board_image=board.board_image %}<p>By {{ board.manufacturer }}</p> {{ board.content }} ]]></description>
    {% if board.blinka %}
    <category>Blinka</category>
    {% else %}
    <category>CircuitPython</category>
    {% endif %}
    <pubDate>{{ board.date_added | date: "%a, %d %b %Y 00:00:00 GMT" }}</pubDate>
    <guid>{{ board.url | absolute_url }}</guid>
  </item>
  {%- endif -%}
{% endfor %}
