---
layout: default
title: Libraries - Contributing
permalink: /libraries/contributing
---

<!-- https://github.com/adafruit/circuitpython/issues/1246 -->

<div id="libraries-page" class="common-layout">
  <div class="content">
    <h1>Contributing</h1>
    <p>
      This is the place to stay up-to-date on the state of the CircuitPython
      libraries. We will be updating this issue each week with the most recent
      status from the wonderful Adabot!
    </p>
    <p>
      If you'd like to contribute, CircuitPython libraries are a great place to
      start. Have an idea for a new driver? File an issue here on the
      <a href="https://github.com/adafruit/circuitpython/issues">CircuitPython</a>
      repo! Interested in helping with current libraries? This
      issue is the place to start. We've included open issues from the library
      issue lists, and details about repo-level issues that need to be
      addressed. We have a guide on
      <a href="https://learn.adafruit.com/contribute-to-circuitpython-with-git-and-github">contributing to CircuitPython with Git and Github</a>
      if you need help getting started. You can also find us in the
      #circuitpython channel on the
      <a href="https://adafru.it/discord">Adafruit Discord.</a> Feel free to
      contact Kattni (@kattni) with any questions.
    </p>

    <div class="libraries open-issues">
       <h3>Open Issues</h3>
       <ul>
       {% for library in site.data.libraries.open_issues %}
         <li>
           {{library[0]}}
           <ul>
           {% for issue in library[1] %}
              <li><a href="{{issue[0]}}">{{issue[1]}}</a></li>
           {% endfor %}
           </ul>
         </li>
       {% endfor %}
       </ul>
    </div>
  </div>
</div>
