---
layout: default
title: Libraries - Contributing
permalink: /libraries/contributing
---

<div id="libraries-page" class="common-layout">
  <div class="content">
    <h1>Contributing</h1>
    <p>Quick bit about contributing (TODO TEXT FROM KATTNI)</p>

    <div class="libraries open-issues">
       <h3>Open Issues</h3>
       <ul>
       {% for library in site.data.libraries.open_issues %}
         <li>
           {{library[0]}}
           <ul>
           {% for issue in library[1] %}
              <li><a href="{{issue[0]}}">{{issue[1]}}</a></li>
           {% endfor %}
           </ul>
         </li>
       {% endfor %}
       </ul>
    </div>
  </div>
</div>
