---
layout: default
title: Libraries
permalink: /libraries
---

<div id="libraries-page" class="common-layout">
  <div class="content">
    <h1>CircuitPython Libraries</h1>
    <p>
      These are libraries and drivers available in separate GitHub repos.
      They are designed for use with CircuitPython and may or may not work with MicroPython.
    </p>
    <h2>Download Instructions</h2>
    <p>
      <ul class="release-list">
      </ul>
    <p>
    <p>
      The libraries in each release are compiled for all recent major versions
      of CircuitPython. Please download the one that matches the major version
      of your CircuitPython. For example, if you are running 3.0.0 you should
      download the 3.x bundle.
    </p>
    <p>
      To install, simply download the matching zip file, unzip it, and copy
      the lib folder onto your CIRCUITPY drive. Non-express boards such as the
      Trinket M0, Gemma M0 and Feather M0 Basic will need to selectively copy
      files over.
    </p>

    <h2>Contributing</h2>
    <p>Quick bit about contributing (TODO TEXT FROM KATTNI)</p>
    <div class="libraries new">
      <h3>New Libraries</h3>
      <ul>
      {% for library in site.data.libraries.library_updates.new %}
        <li><a href="{{library[1]}}">{{library[0]}}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="libraries updated">
      <h3>Updated Libraries</h3>
      <ul>
      {% for library in site.data.libraries.library_updates.updated %}
        <li><a href="{{library[1]}}">{{library[0]}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script src="/assets/javascript/libraries.js"></script>
