<head>
  {% include metadata.html %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- CircuitPython RSS Feed -->
  <link rel="alternate"
        type="application/rss+xml"
        title="CircuitPython news!"
        href="https://blog.adafruit.com/category/circuitpython/feed/"/>
  <link rel="alternate" type="application/rss+xml" title="Latest Boards" href="/feed.rss"/>
  <script src="{{ "/assets/javascript/header_mobile.js" | relative_url }}"></script>
</head>
