<header id="site-header">
  <div class="wrapper">
    <div class="content">
      <div class="site-brand">
        <div class="site-logo"><a href="https://circuitpython.org"><img src="/assets/images/blinka.png" height="100" width="112"></a></div>
        <div class="site-banner"><a href="https://circuitpython.org">CircuitPython</a></div>
      </div>

      <div class="site-navigation">
        <a href="/downloads">DOWNLOADS</a>
        <a href="/news">NEWS</a>
        <a href="/help">HELP</a>
      </div>
    </div>
  </div>
  <div class="bottom-bar"></div>
</header>
