<header id="site-header">
  {% assign current = page.url | downcase | split: '/' %}
  <div class="top-navigation">
    <div>
      <div class="navigation">
        <a {% if current[1] == 'contributing' %}class='active'{% endif %} href="{{ "/contributing" | relative_url  }}">Contributing</a>
        <a href="https://blog.adafruit.com/category/circuitpython">News</a>
        <a {% if current[1] == 'awesome' %}class='active'{% endif %} href="{{ "/awesome" | relative_url  }}">Awesome</a>
        <a href="https://www.adafruitdaily.com/category/circuitpython">Newsletter</a>
        <a href="https://forums.adafruit.com/viewforum.php?f=60">Help</a>
        <span>
            <a href="https://adafru.it/discord"><i class="fab fa-discord"></i></a>
            <a href="{{ '/feed.rss' | relative_url  }}" type="application/rss+xml"><i class="fas fa-rss-square"></i></a>
        </span>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="content">
      <div class="site-brand">
        <div class="site-logo">
          <a href="{{ "/" | relative_url  }}">
            <img src="{{ "/assets/images/logo.png" | relative_url }}"
                 srcset="{{ "/assets/images/logo.png" | relative_url }} 1x,
                         {{ "/assets/images/logo@2x.png" | relative_url }} 2x,
                         {{ "/assets/images/logo@3x.png" | relative_url }} 3x"
                                         alt="CircuitPython Logo"
                                         height="60" width="136">
          </a>
        </div>
        <div class="site-navigation">
          <a {% if current[1] == 'downloads' %}class='active'{% endif %} href="{{ "/downloads" | relative_url  }}">Downloads</a>
          <a {% if current[1] == 'libraries' %}class='active'{% endif %} href="{{ "/libraries" | relative_url  }}">Libraries</a>
          <a {% if current[1] == 'blinka' %}class='active'{% endif %} href="{{ "/blinka" | relative_url  }}">Blinka</a>
        </div>
        <div class="get-started">
          <a href="https://learn.adafruit.com/welcome-to-circuitpython">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-bar"></div>
</header>
