<div class="section stable">
  <h3>Adafruit Blinka Installation</h3>
  <p>
    We use a special library called adafruit_blinka (named after Blinka, the
    CircuitPython mascot) to provide the layer that translates the CircuitPython
    hardware API to whatever library the Linux board provides.
  </p>
  <p>
    For example, on Raspberry Pi we use the python RPi.GPIO library.
    For any I2C interfacing we'll use ioctl messages to the /dev/i2c device.
    For SPI we'll use the spidev python library, etc. These details don't matter
    so much because they all happen underneath the adafruit_blinka layer.
  </p>
  {% if page.download_instructions != nil and page.download_instructions != "" %}
  <div>
      <a class="download-button" href="{{ page.download_instructions }}">INSTALLATION INSTRUCTIONS<i class="fas fa-arrow-circle-right" aria-hidden="true"></i></a>
    <div class="clear"></div>
  </div>
  {% endif %}
  {% if page.features %}
  <p>Features:
    <span class="features-list">
    {% for feature in page.features %}
      <a class="library-link" href="/blinka?features={{ feature }}">{{feature}}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
    </span>
  </p>
  {% endif %}
  {% if page.board_usage %}
  <p>Board Usage:
    <span class="features-list">
    {% for usage in page.board_usage %}
      {%- if usage == "Linux" %}
        <a class="library-link" href="https://learn.adafruit.com/adding-a-single-board-computer-to-blinka/types-of-boards#linux-single-board-computers-3216284">Linux Single Board Computer</a>
      {%- elsif usage == "Attached" %}
        <a class="library-link" href="https://learn.adafruit.com/adding-a-single-board-computer-to-blinka/types-of-boards#attached-devices-3216284">Attached Device</a>
      {%- elsif usage == "MicroPython" %}
        <a class="library-link" href="https://learn.adafruit.com/adding-a-single-board-computer-to-blinka/types-of-boards#micropython-boards-3216284">MicroPython Board</a>
      {%- else %}
        <span class="library-link">{{ usage }}</span>
      {%- endif %}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
    </span>
  </p>
  {% endif %}
</div>
