{% assign board = site.data.files | where: "id", page.board_id %}
{% if board[0] %}
{% assign stable = board[0].versions | where: "stable", true | sort: "version" %}
{% assign unstable = board[0].versions | where: "stable", false | sort: "version" %}
{% assign releases = stable | concat: unstable %}
{% for version in releases %}
  <div class="section {% if version.stable %}stable{% else %}unstable{% endif %}">
    <h3>CircuitPython {{ version.version }}</h3>
    <p>
      This is the latest {% if version.stable %}<strong>stable</strong>{% else %}unstable{% endif %}
      release of CircuitPython that will work with the {{ page.name }}.
    </p>
    <p>
      {% if version.stable %}
      <strong>Start here</strong> if you are new to CircuitPython.
      {% else %}
      Unstable builds have the latest features but are more likely to have critical bugs.
      {% endif %}
    </p>
    <p>
      <a href="https://github.com/adafruit/circuitpython/releases/tag/{{ version.version }}">Release Notes for {{ version.version }}</a>
    </p>
    <div class="download-details">
      <label class="language-select">
        <select>
          {% for file in version.files %}
          <option value="{{ file[1] | join: ',' }}" data-files={{ file[1] | join: ',' }} data-locale={{ file[0] | replace: '_', '-' }} {% if file[0] == "en_US" %}selected{% endif %}>
            {% case file[0] %}
              {% when 'cs' %}
                CZECH
              {% when 'de_DE' %}
                GERMAN
              {% when 'en_US' %}
                ENGLISH
              {% when 'en_x_pirate' %}
                PIRATE (ENGLISH)
              {% when 'es' %}
                SPANISH
              {% when 'fil' %}
                FILIPINO
              {% when 'fr' %}
                FRENCH
              {% when 'ID' %}
                INDONESIAN
              {% when 'it_IT' %}
                ITALIAN
              {% when 'ko' %}
                KOREAN
              {% when 'nl' %}
                DUTCH
              {% when 'pl' %}
                POLISH
              {% when 'pt_BR' %}
                PORTUGUESE (BRAZILIAN)
              {% when 'sv' %}
                SWEDISH
              {% when 'zh_Latn_pinyin' %}
                CHINESE (PINYIN)
              {% else %}
                {{ file[0] | upcase }}
            {% endcase %}
          </option>
          {% endfor %}
        </select>
      </label>
      <div class="download-buttons">
      {% for file in version.files['en_US'] %}
        <a class="download-button {% if version.stable %}stable{% else %}unstable{% endif %} {{ file | slice: -3, 3 }}" href="{{ file }}">DOWNLOAD {{ file | slice: -4, 4 | upcase }} NOW <i class="fas fa-download" aria-hidden="true"></i></a>
      {% endfor %}
      </div>
    </div>
    {% if version.modules %}
    <p>
        Built-in modules available:
        <span class="download-modules {% if version.stable %}stable{% else %}unstable{% endif %}">{{ version.modules | join: ', ' }}</span>
    </p>
    {% endif %}
  </div>
{% endfor %}
{% endif %}
<div class="section unrecommended">
  <h3>Absolute Newest</h3>
  <p>
    Every time we commit new code to CircuitPython we automatically
    build binaries for each board and language.  The binaries are
    stored on Amazon S3, organized by board, and then by
    language. Try them if you want the absolute latest and are
    feeling daring or want to see if a problem has been fixed.
  </p>
  <div>
    <a class="download-button-unrecommended" href="https://adafruit-circuit-python.s3.amazonaws.com/index.html?prefix=bin/{{ page.board_id }}/">BROWSE S3<i class="fas fa-arrow-circle-right" aria-hidden="true"></i></a>
    <div class="clear"></div>
  </div>
</div>
<div class="section unrecommended">
  <h3>Past Releases</h3>
  <p>
    All previous releases are listed on GitHub, with release notes,
    and are available for download from Amazon S3.  They are handy for
    testing, but otherwise we recommend using the latest stable
    release.  Some older GitHub release pages include the same
    binaries for downloading.  But we have discontinued including
    binaries as assets on newer release pages because of the large
    number of files for each release.
  </p>
  <p>
    <a class="download-button-unrecommended" href="https://github.com/adafruit/circuitpython/releases">BROWSE GITHUB<i class="fab fa-github" aria-hidden="true"></i></a>
  </p>
  <div>
    <a class="download-button-unrecommended" href="https://adafruit-circuit-python.s3.amazonaws.com/index.html?prefix=bin/{{ page.board_id }}/">BROWSE S3<i class="fas fa-arrow-circle-right" aria-hidden="true"></i></a>
  </div>
</div>


{% comment %}
Only output bootloader information if we have complete info about a board, and we know the latest
version of its bootloader family.
By the way, boolean operation precedence is right to left! (yeesh)
{% endcomment %}

{% assign bootloaders = site.data.bootloaders.bootloaders %}
{% assign bootloader_board = site.data.bootloaders.boards[page.board_id] %}
{% assign bootloader_version = bootloaders[bootloader_board.family].version %}
{% assign bootloader_id = bootloader_board.bootloader_id %}
{% if bootloader_version and bootloader_id and bootloader_board %}
<div class="section unrecommended">
  <h3>UF2 Bootloader</h3>
  <p>
    Latest version: {{ bootloader_version }}
  </p>
  <p>
    <strong>The bootloader allows you to load CircuitPython, Makecode, and Arduino programs.
      The bootloader is not CircuitPython.</strong>
    You can check the current version of your bootloader by looking in
    the INFO_UF2.TXT file when the BOOT drive is visible (FEATHERBOOT, CPLAYBOOT, etc.).
  </p>

{% if bootloader_board.family == 'nrf52840' %}
  <p>
    Updating the bootloader on nRF52840 boards is an involved process right now.
    Follow the instructions in this
    <a href="https://github.com/adafruit/Adafruit_nRF52_Bootloader/blob/master/README.md">README</a>.
    It is not necessary to update on each release if your bootloader is working fine.
    Read the release notes on GitHub to see what has been changed.
  </p>
  <p>
    After you update, check INFO_UF2.TXT to verify that the bootloader version has been updated.
    Then you will need to reload CircuitPython.
  </p>
  <div>
    <a class="download-button-unrecommended" href="https://github.com/adafruit/Adafruit_nRF52_Bootloader/releases/tag/{{ bootloader_version }}">BROWSE ON GITHUB<i class="fab fa-github" aria-hidden="true"></i></a>
  </div>
{% endif %}

{% if bootloader_board.family == 'atmel-samd' %}
  <p>
    To update, first save the contents of CIRCUITPY, just in case.
    Then double-click the reset button to show the BOOT drive.
    Drag the update-bootloader .uf2 file to the BOOT drive.
    Wait a few tens of seconds for the bootloader to update; the BOOT drive will reappear.
    Check INFO_UF2.TXT to verify that the bootloader version has been updated.
    Then you will need to reload CircuitPython.
  </p>
  <p>
    <a class="download-button" href="https://github.com/adafruit/uf2-samdx1/releases/download/{{ bootloader_version }}/update-bootloader-{{ bootloader_id }}-{{ bootloader_version }}.uf2">DOWNLOAD UPDATER UF2<i class="fas fa-download" aria-hidden="true"></i></a>
  </p>
  <div>
    <a class="download-button-unrecommended" href="https://github.com/adafruit/uf2-samdx1/releases/tag/{{ bootloader_version }}">BROWSE ON GITHUB<i class="fab fa-github" aria-hidden="true"></i></a>
  </div>
{% endif %}
</div>
{% endif %}
