#site-header {
  display: grid;
  grid-template-rows: 40px 1fr 3px;
  grid-column: full;

  .wrapper {
    @include readable-content;
  }

  .content {
    display: grid;
    background-color: #fff;
    height: 100px;
    border-radius: 25px;
    padding: 0 25px;
    margin: 20px;
  }

  a.active {
    color: #fff;
  }
}

.top-navigation {
  @include readable-content;
  background-color: #333;
  padding-top: 10px;

  .navigation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    a {
      font-size: 16px;
      color: #aaa;

      &:hover {
        color: #fff;
      }
    }

    a.skip-link {
      margin-left: 0;
      position: absolute;
      left: 10px;
      top: 10px;
      transform: translateY(-200%);
      transition: transform 0.6s;
      &:focus {
        transform: translateY(0%);
      }
    }

    & > a {
      margin-left: 40px;
    }
    & > span {
      margin-left: 35px;
      a {
        margin-left: 5px;
      }
    }
  }
}

.site-brand {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-logo {
}

.site-banner {
  font-size: 20px;
  padding-left: 120px;

  a {
    color: #fff;
  }
}

.get-started {
  margin-left: auto;
  padding-bottom: 10px;

  a {
    @include rounded-button;
  }
}

.site-navigation {
  padding: 0 0 10px 0;
  font-size: 18px;

  a {
    margin-right: 30px;
    color: #63338f;

    &:hover {
      color: #fff;
    }
  }
}

.bottom-bar {
  background-color: #e71c8c;
}

@media (max-width: $screen-xs-max) {
  #site-header {
    display: none !important;
  }
}
