---
layout: default
title: Getting Started
permalink: /start
---

<div id="start-page">
  <div class="content-block">
    <h2>Getting started with CircuitPython is fill in the blank</h2>
    <p>
      CircuitPython is a programming language designed to simplify experimenting
      and learning to program on low-cost microcontroller boards. It makes
      getting started easier than ever with no upfront desktop downloads needed.
      Once you get your board set up, open any text editor, and get started
      editing code. It's that simple.
    </p>
  </div>
  {% include_relative _installation.html %}
  {% include_relative _connecting.html %}
  {% include_relative _libraries.html %}
</div>

<script src="/assets/javascript/start.js"></script>
