---
layout: default
---
<div id="download-page">
  <h1>{{ page.name }}</h1>
  <h3>by {{ page.manufacturer }}</h3>

  <div class="download-section">
    <div class="details">
      <div class="section">
        <img src="{{ page.board_image }}">
        <p>
          {{ content }}
        </p>
      </div>
    </div>
    <div class="download">
      {% assign files = site.data.files | where: "id", page.board_id %}
      {% for version in files[0].versions %}
        <div class="section">
          <h3>CircuitPython {{ version.version }}</h3>
          <p>
            This is the latest {% if version.stable %}stable{% else %}unstable{% endif %}
            release of CircuitPython that will work with the {{ page.name }}.
          </p>
          <div>
            <label class="language-select">
              <select>
                {% for file in version.files %}
                <option value="{{ file[1][0] }}" data-files={{ file[1] }} data-locale={{ file[0] | replace: '_', '-' }} {% if file[0] == "en_US" %}selected{% endif %}>
                  {% case file[0] %}
                    {% when 'en_US' %}
                      ENGLISH
                    {% when 'de_DE' %}
                      GERMAN
                    {% when 'fil' %}
                      FILIPINO
                    {% when 'fr' %}
                      FRENCH
                    {% when 'es' %}
                      SPANISH
                    {% when 'it_IT' %}
                      ITALIAN
                    {% when 'pt_BR' %}
                      PORTUGUESE (BRAZILIAN)
                    {% when 'ID' %}
                      INDONESIAN
                    {% else %}
                      {{ file[0] | upcase }}
                  {% endcase %}
                </option>
                {% endfor %}
              </select>
            </label>
            {% for file in version.files['en_US'] %}
              <a class="download-button" href="{{ file }}">DOWNLOAD {{ file | slice: -4, 4 | upcase }} NOW <i class="fas fa-download"></i></a>
            {% endfor %}
            <div class="clear"></div>

        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script src="/assets/javascript/download.js"></script>
