---
layout: default
---
<div id="download-page">
  <h1>{{ page.name }}</h1>
  <h3>by {{ page.manufacturer }}</h3>

  <div class="download-section">
    <div class="details">
      <div class="section">
        <img src="{{ page.board_image }}" alt="Image of Board">
        <p>
          {{ content }}
        </p>
      </div>
    </div>
    <div class="download">
      {% if page.blinka == true %}
        {% include download/blinka.html %}
      {% else %}
        {% include download/board.html %}
      {% endif %}
    </div>
  </div>
</div>

<script src="/assets/javascript/download.js"></script>
