#home-page {
  text-align: center;

  hr {
    width: 75%;
    margin: 40px auto 40px auto;
    background-color: #cecece;
    border: none;
    height: 1px;
  }

  .content {
    h1 {
      width: 75%;
      margin: 20px auto;
    }

    p {
      font-size: 20px;
      width: 75%;
      margin: 0 auto;
      padding-bottom: 20px;
    }

    .home-table {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      margin-bottom: 20px;

      .item {

      }
    }
  }
}

@media only screen and (max-width: $screen-xs-max) {
  #home-page {
    padding: 0;
    grid-template-columns:
        [full-start] minmax(0em, 1fr)
        [main-start] minmax(0, 80em) [main-end]
        minmax(0em, 1fr) [full-end];
    .content {
      background-color: #fff;
      border: none;
      border-radius: 0;
      padding: 40px 10px 0 10px;
      .home-table {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 0em;
      }

      h1, p {
        width: 100%;
      }
    }
  }
}
