#home-page {
  @include readable-content;
  grid-row-grap: 1em;

  .two-column-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;

    .text {
      aspect-ratio: 1/1;
      background-color: #fff;
      border-radius: 25px;
      padding: 40px;

      .title {
        font-size: 3.5em;
        font-weight: 500;
        margin-bottom: 0.5em;
      }

      .tagline {
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 1em;
      }

      .get-started {
        a {
          @include rounded-button;
        }
      }
    }

    .image {
      img {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 100%;
        height: auto;
        border-radius: 25px;
      }
    }
  }
}

@media only screen and (max-width: $screen-md-max) {
  #home-page {
  }
}

@media only screen and (max-width: $screen-xs-max) {
  #home-page {
  }
}
