#start-page {
  @include readable-content;
  grid-row-grap: 1em;
  background-color: #fff;
  font-size: 24px;

  .content-block {
    grid-column: full;
    padding: 20px 20px 20px 50px;
    margin-bottom: 5px;
    font-weight: 500;

    h2 {
      font-size: 32px;
    }
  }

  .start-section {
    grid-column: full;

    .banner {
      padding: 20px 50px 20px 50px;
      margin-bottom: 5px;

      h3 {
        font-size: 60px;
        margin: 0;
        color: #fff;
      }

      &.purple {
        background-color: #63338f;
      }
    }

    .tab-block {
      display: grid;
      grid-template-columns: 25% 75%;
      padding: 0 50px 0 50px;

      .tab-links {
        list-style-type: none;
        padding: 0;

        a {
          font-weight: 500;
          color: #63338f;
          padding-left: 15px;

          &.active {
            color: #000;
            border-left: 5px solid #000;
            padding-left: 10px;
          }
        }
      }

      .tab-content {
        display: none;
        grid-template-columns: 20% 80%;
        column-gap: 20px;
        padding-top: 20px;

        &.active {
          display: grid;
        }

        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }

        .details {
          h4 {
            font-size: 24px;
            margin: 0;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  #start-page {
    .start-section {
      .tab-block {
        grid-template-columns: 1fr;
        padding: 0 20px;
        .tab-links {
          display: none;
        }

        .tab-content {
          display: block;

          img {
            display: none;
          }
        }
      }
    }
  }
}
