#stats-page {
  table {
    border: 1px solid $gray-border;
    border-collapse: collapse;

    thead {
      font-weight: bold;
    }

    td {
      border: 1px solid $gray-border;
      padding: 5px;
    }
  }
}
